body{
	margin: 0;
    padding: 0;
}
.open_modal_window{
	position: absolute;
	left: 50%;
	margin-left: -622px;
    top: 50%;
    margin-top: -288px;
    width: 200px;
    color: #ffffff;
    font-size: 35px;
    text-transform: uppercase;
    font-family: "ArialBold", sans-serif;
    padding: 2px 10px 2px 10px;
	height: 50px;
	border: none;
	background: #3683a9;
	background: -webkit-linear-gradient(#84c3d8, #16557e);
	background: -o-linear-gradient(#84c3d8, #16557e);
    background: -moz-linear-gradient(#84c3d8, #16557e);
    background: linear-gradient(#84c3d8, #16557e);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.open_modal_window:hover{
	background: #ffffff;
    background: -webkit-linear-gradient(#ffffff, #84c3d8);
    background: -o-linear-gradient(#ffffff, #84c3d8);
    background: -moz-linear-gradient(#ffffff, #84c3d8);
    background: linear-gradient(#ffffff, #84c3d8);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: #16557e;
}
.background_modal_window{
	display: none;
	width: 100%;
	min-height: 100%;
	position: fixed;
	background-image: url(../img/modal-bgc.jpg);
	background-repeat: repeat;
	overflow: hidden;
	top: 0px;
	z-index: 99999;
}
.copyright{
	font-family: "ArialRegular", sans-serif;
	font-size: 12;
	position: absolute;
	bottom: 5px;
	left: 0px;
}
